.container {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
}

.content {
  flex: 2;
}

.board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ranking {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nz-layout {
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
