.block {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141e30;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5em;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  text-decoration: none;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-right: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
